<h1 class="display-4 text-primary">Cards#Edition</h1>
<p>※「<% @catd.title %>」の内容を編集します。</p>
<%= form_with model: @cards, local :true do |f| %>
  <div class="form-group">
    <%= f.label :タイトル%>
    <%= f.text_field :title, class:"form_control" %>
  </div>
  <div class="form-group">
    <%= f.label :著者%>
    <%= f.text_field :author, class:"form_control" %>
  </div>
  <div class="form-group">
    <%= f.label :価格%>
    <%= f.text_field :price, class:"form_control" %>
  </div>
  <div class="form-group">
    <%= f.label :出版社%>
    <%= f.text_field :publisher, class:"form_control" %>
  </div>
  <div class="form-group">
    <%= f.label :コメント%>
    <%= f.text_area :memo, class:"form_control" %>
  </div>
  <%= f.submit "保存" %>
<% end %>
<p class="link"><a href="cards">
  &lt;&lt; ※トップページに戻る
</a></p>
